<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <targets>
    <target xsi:type="File" name="logfile" fileName="SLARefresherLog.txt"/>
    <target name="console" xsi:type="Console" />
    <target name="ErrorMail" xsi:type="Mail" html="true" subject="SLA Refresh: Error Reported at ${longdate}" body="${message}"
         to="reportadmin@nationaltaxsearch.com; is@nationaltaxsearch.com"
         from="administrator@nationaltaxsearch.com"
         encoding="UTF-8"
         smtpUserName="administrator@nationaltaxsearch.com"
         enableSsl="false"
         smtpServer="mail.nationaltaxsearch.com"
         smtpPort="25" />
    <target name="InfoMail" xsi:type="Mail" html="true" subject="SLA Refresh: ${shortdate}" body="${message}"
         to="reportadmin@nationaltaxsearch.com; august.wasilowski@nationaltaxsearch.com"
         from="administrator@nationaltaxsearch.com"
         encoding="UTF-8"
         smtpUserName="administrator@nationaltaxsearch.com"
         enableSsl="false"
         smtpServer="mail.nationaltaxsearch.com"
         smtpPort="25" />    
  </targets>
  <rules>
    <logger name="*" minlevel="Trace" writeTo="console" />
    <logger name="*" minlevel="Trace" writeTo="logfile" />
    <logger name="*" level="Error" writeTo="ErrorMail" />
    <logger name="*" level="Info" writeTo="InfoMail" />
  </rules>
</nlog>